@font-face {
    font-family: "Jakarta Sans";
    src: url('../fonts/PlusJakarta_Sans-2.5/webfonts/PlusJakartaSans-Regular.woff'),
    url('../fonts/PlusJakarta_Sans-2.5/webfonts/PlusJakartaSans-Bold.woff2'),
    url('../../../fonts/PlusJakarta_Sans-2.5/static/PlusJakartaSans-Regular.ttf');
    font-weight: normal;
}
